<div class="component-header inner-component-header">
	<span>Epic Monster Buffs</span>
</div>
<div class="component-body">
	<div class="epic-monsters-container">
		<div class="dragons-container">
			<div class="dragons-row">
				<img src="assets/images/icons/cloud.png" class="medium-option">
				<img src="assets/images/icons/mountain.png" class="medium-option">
				<img src="assets/images/icons/ocean.png" class="medium-option">
				<img src="assets/images/icons/infernal.png" class="medium-option">
			</div>
			<div class="dragons-row">
				<img src="assets/images/icons/cloud.png" class="medium-option">
				<img src="assets/images/icons/mountain.png" class="medium-option">
				<img src="assets/images/icons/ocean.png" class="medium-option">
				<img src="assets/images/icons/infernal.png" class="medium-option">
			</div>
			<div class="dragons-row">
				<img src="assets/images/icons/cloud.png" class="medium-option">
				<img src="assets/images/icons/mountain.png" class="medium-option">
				<img src="assets/images/icons/ocean.png" class="medium-option">
				<img src="assets/images/icons/infernal.png" class="medium-option">
			</div>
			<div class="dragons-row">
				<img src="assets/images/icons/cloud.png" class="medium-option">
				<img src="assets/images/icons/mountain.png" class="medium-option">
				<img src="assets/images/icons/ocean.png" class="medium-option">
				<img src="assets/images/icons/infernal.png" class="medium-option">
				<img src="assets/images/icons/infernal.png" class="medium-option">
			</div>
		</div>
		<div class="neutral-camps-container">

		</div>
	</div>
</div>