<div class="component-header-grid">
	<div class="component-header">
		<span class="component-title" id="component-title">Epic Monster Buffs</span>
	</div>
	<div class="epic-monsters-tab">
		<img class="tab-icon" src="assets/images/icons/drake.png" alt="Epic Monster Buffs" />
	</div>
	<div class="rune-tab tab-icon inactive-tab">
		<img class="tab-icon" src="assets/images/icons/runes_icon.png" alt="Runes" (click)="switchToRunesPage()" />
	</div>
	<div class="item-selector-tab inactive-tab">
		<img class="tab-icon" src="assets/images/icons/items_small_icon.png" alt="Item Selector" (click)="switchToItemSelectorPage()" />
	</div>
</div>
<div class="component-body">
	<div class="epic-monsters-container">
		<div class="dragons-container">
			<div class="dragons-row">
				<img src="assets/images/icons/cloud.png" class="medium-option">
				<img src="assets/images/icons/mountain.png" class="medium-option">
				<img src="assets/images/icons/ocean.png" class="medium-option">
				<img src="assets/images/icons/infernal.png" class="medium-option">
			</div>
			<div class="dragons-row">
				<img src="assets/images/icons/cloud.png" class="medium-option">
				<img src="assets/images/icons/mountain.png" class="medium-option">
				<img src="assets/images/icons/ocean.png" class="medium-option">
				<img src="assets/images/icons/infernal.png" class="medium-option">
			</div>
			<div class="dragons-row">
				<img src="assets/images/icons/cloud.png" class="medium-option">
				<img src="assets/images/icons/mountain.png" class="medium-option">
				<img src="assets/images/icons/ocean.png" class="medium-option">
				<img src="assets/images/icons/infernal.png" class="medium-option">
			</div>
			<div class="dragons-row">
				<img src="assets/images/icons/cloud.png" class="medium-option">
				<img src="assets/images/icons/mountain.png" class="medium-option">
				<img src="assets/images/icons/ocean.png" class="medium-option">
				<img src="assets/images/icons/infernal.png" class="medium-option">
				<img src="assets/images/icons/infernal.png" class="medium-option">
			</div>
		</div>
		<div class="neutral-camps-container">

		</div>
	</div>
</div>