<div class="component-header inner-component-header">
	<span>Epic Monster Buffs</span>
</div>
<div class="component-body">
	<div class="epic-monsters-container">
		<div class="dragons-container">
			<div class="dragons-row">
				<ng-container *ngFor="let dragon of epics.dragonSet1; index as i">
					<img (click)="selectDragon('dragonSet1', i)" [ngClass]="activeDragonClass(dragon)" [src]="dragon.img" class="medium-option">
				</ng-container>
			</div>
			<div class="dragons-row">
				<ng-container *ngFor="let dragon of epics.dragonSet2; index as i">
					<img (click)="selectDragon('dragonSet2', i)" [ngClass]="activeDragonClass(dragon)" [src]="dragon.img" class="medium-option">
				</ng-container>
			</div>
			<div class="dragons-row">
				<ng-container *ngFor="let dragon of epics.dragonSet3; index as i">
					<img (click)="selectDragon('dragonSet3', i)" [ngClass]="activeDragonClass(dragon)" [src]="dragon.img" class="medium-option">
				</ng-container>
			</div>
			<div class="dragons-row">
				<ng-container *ngFor="let dragon of epics.dragonSet4; index as i">
					<img (click)="selectDragon('dragonSet4', i)" [ngClass]="activeDragonClass(dragon)" [src]="dragon.img" class="medium-option">
				</ng-container>
			</div>
		</div>
		<div class="neutral-camps-container">
			<div class="dragons-row">
				<img src="assets/images/icons/epics/blue.png" class="medium-option circle">
				<img src="assets/images/icons/epics/red.png" class="medium-option circle">
				<img src="assets/images/icons/epics/baron.png" class="medium-option circle">
				<img src="assets/images/icons/epics/elder.png" class="medium-option">
			</div>
		</div>
	</div>
</div>