<!-- <div class="col-md-6 clear-items">
		<button mat-button *ngIf="!selectedItemsIsEmpty()" (click)="clearSelectedItems()">Clear Items</button>
	</div> -->
<ng-template #nullItems>
	<p>undefined selected items</p>
</ng-template>
<ng-template #nullElixir>
	<p>undefined elixir</p>
</ng-template>
<div class="component-header">
	<span>Items and Elixir</span>
</div>
<div class="component-body">
	<div class="selected-items-grid" style="max-width:240px;margin:auto">
		<div id="selected-items">
			<div class="equipped-items-grid">
				<div class="item-block bg-black" *ngFor="let selectedItem of selectedItems; index as i">
					<img *ngIf="!selectedSlotIsFree(selectedItem) else emptySlot" [src]="selectedItem.img" (click)="removeItem(selectedItem, i)" draggable="false" />
					<ng-template #emptySlot>Item Slot {{i + 1}}</ng-template>
				</div>
			</div>
		</div>
		<div id="elixir">
			<div class="item-block bg-black">
				<img *ngIf="!selectedSlotIsFree(selectedElixir) else emptyElixir" [src]="selectedElixir.img" (click)="removeElixir()" draggable="false" />
				<ng-template #emptyElixir>Elixir Slot</ng-template>
			</div>
		</div>
		<div id="clear-selected-items">clear</div>
	</div>
	<div id="stackables">
		<ng-container *ngFor="let selectedItem of selectedItems; index as i">
			<mat-checkbox *ngIf="selectedItem.stackable" class="example-margin" (change)="setStackedSelectedItem($event.checked, i)">Stack {{selectedItem.name}} </mat-checkbox>
		</ng-container>
	</div>
</div>