<div class="component-header">
	<span>Items and Elixir</span>
</div>
<div class="component-body">
	<div class="selected-items-grid">
		<div id="selected-items">
			<div class="equipped-items-grid">
				<ng-container *ngFor="let selectedItem of selectedItems; index as i">
					<div class="item-block">
						<ng-container *ngIf="!selectedSlotIsFree(selectedItem) else emptySlot">
							<mat-icon class="remove-item flex-center" aria-hidden="false" aria-label="Remove Item" (click)="removeItem(selectedItem, i)">clear</mat-icon>
							<img [src]="selectedItem.img" draggable="false" />
						</ng-container>
						<ng-template #emptySlot>Item Slot {{i + 1}}</ng-template>
					</div>
				</ng-container>
			</div>
		</div>
		<div id="elixir">
			<div class="item-block">
				<ng-container *ngIf="!selectedSlotIsFree(selectedElixir, 1) else emptyElixir">
					<mat-icon class="remove-item flex-center" aria-hidden="false" aria-label="Remove Item" (click)="removeElixir()">clear</mat-icon>
					<img [src]="selectedElixir.img" draggable="false" />
				</ng-container>
				<ng-template #emptyElixir>Elixir Slot</ng-template>
			</div>
		</div>
		<div id="clear-selected-items">
			<div class="item-block">
				<mat-icon class="remove-item flex-center" aria-hidden="false" aria-label="Clear Items" (click)="clearSelectedItems()">clear</mat-icon>
				Clear Items
			</div>
		</div>
	</div>
	<div id="stackables">
		<ng-container *ngFor="let selectedItem of selectedItems; index as i;">
			<mat-checkbox *ngIf="selectedItem.stackable" class="example-margin" (change)="setStackedSelectedItem($event.checked, i)">Stack {{selectedItem.name}} </mat-checkbox>
		</ng-container>
	</div>
</div>