div.item-block {
	width:56px;
	height:56px;
	margin:2px;
}
img {
	width:54px;
	height:54px;
}
ul.item-grid {
	padding-inline-start: 0px;
	margin-bottom:0px;
}
.selected-items-grid {
	display:grid;
	height:auto;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: repeat(2,1fr);
	grid-template-areas: 
	"selected-items elixir"
	"selected-items clear-selected-items";
}
#selected-items {
	grid-area: selected-items;
	margin:auto;
    text-align: center;
}
#elixir {
	grid-area:elixir;
	margin:auto;
    text-align: center;
}
#clear-selected-items {
	grid-area: clear-selected-items;
	margin:auto;
    text-align: center;
}
#stackables {
	grid-area: stackables;
	margin:auto;
	display:flex;
	flex-direction: column;
	justify-content: center;
	margin-top:10px;
}
#selected-items .equipped-items-grid {
	display:grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: repeat(2,1fr);
	grid-template-areas: 
	"slot1 slot2 slot3"
	"slot4 slot5 slot6";

}