<ul class="item-grid" *ngIf="selectedElixir else nullElixir">
	<li class="item">
		<div class="item-block bg-black" [ngClass]="selectedSlotIsFreeClass(selectedElixir)">
			<img *ngIf="!selectedSlotIsFree(selectedElixir) else emptyElixir" [src]="selectedElixir.img" (click)="removeElixir()" draggable="false" />
			<ng-template #emptyElixir>
				Elixir Slot
			</ng-template>
		</div>
	</li>
</ul>
<ul class="item-grid" *ngIf="selectedItems else nullItems">
	<li class="item" *ngFor="let selectedItem of selectedItems; index as i">
		<div class="item-block bg-black" [ngClass]="selectedSlotIsFreeClass(selectedItem)">
			<img *ngIf="!selectedSlotIsFree(selectedItem) else emptySlot" [src]="selectedItem.img" (click)="removeItem(selectedItem, i)" draggable="false" />
			<ng-template #emptySlot>
				Item Slot {{i + 1}}
			</ng-template>
		</div>
	</li>
</ul>
<div class="item-grid">
	<div *ngFor="let selectedItem of selectedItems; index as i">
		<mat-checkbox *ngIf="selectedItem.stackable" class="example-margin" (change)="setStackedSelectedItem($event.checked, i)">Stack {{selectedItem.name}} </mat-checkbox>
	</div>
</div>
<!-- <div class="col-md-6 clear-items">
		<button mat-button *ngIf="!selectedItemsIsEmpty()" (click)="clearSelectedItems()">Clear Items</button>
	</div> -->
<ng-template #nullItems>
	<p>undefined selected items</p>
</ng-template>
<ng-template #nullElixir>
	<p>undefined elixir</p>
</ng-template>