# See http://help.github.com/ignore-files/ for more about ignoring files.

/venv/
ref/
*.zip
*_runes.ts
*.psd
*.csv
example_layout.png
*cache*/
*attributes.json
!json_meraki_item_cache/
**/s1-s10
!json_combined_champion_cache/
# src/assets/images/champions/*
item_tests/
# compiled output
dist/
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
node_modules/

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
