<div class="component-header-grid">
	<div class="component-header">
		<span class="component-title" id="component-title">Rune Selection</span>
	</div>
	<div class="epic-monsters-tab inactive-tab">
		<img class="tab-icon" src="assets/images/icons/drake.png" alt="Epic Monster Buffs" (click)="switchToEpicMonsterPage()" />
	</div>
	<div class="rune-tab">
		<img class="tab-icon" src="assets/images/icons/runes_icon.png" alt="Runes" />
	</div>
	<div class="item-selector-tab inactive-tab">
		<img class="tab-icon" src="assets/images/icons/items_small_icon.png" alt="Item Selector" (click)="switchToItemSelectorPage()" />
	</div>
</div>
<div class="component-body">
	<div class="rune-trees-container">
		<div class="rune-tree">
			<div class="rune-path">
				<img class="option large-rune" *ngFor="let runePath of runes; index as i" [tooltip]="runePath.tooltip" [ngClass]="activeClass(runePath, 'primary')" [src]="runePath.img" [alt]="runePath.img" (click)="choosePrimaryPath(runePath)" />
			</div>
			<div *ngFor="let runePath of runes; index as i">
				<div [hidden]="selectedRunes.primaryTree.path != runePath.path_name">
					<ng-container *ngFor="let runeType of runePath.runes">
						<div class="rune-selection">
							<ng-container *ngFor="let rune of runeType.keystones">
								<img class="option large-rune" [tooltip]="rune.tooltip" [ngClass]="activeClass(rune)" [src]="rune.img" (click)="setKeystone(rune, runeType.keystones)">
							</ng-container>
						</div>
						<div class="rune-selection">
							<ng-container *ngFor="let rune of runeType.slot1; index as i">
								<img class="option medium-rune" [tooltip]="rune.tooltip" [ngClass]="activeClass(rune)" (click)="setPrimarySlots(rune, runeType.slot1, 1)" [src]="rune.img">
							</ng-container>
						</div>
						<div class="rune-selection">
							<ng-container *ngFor="let rune of runeType.slot2; index as i">
								<img class="option medium-rune" [tooltip]="rune.tooltip" [ngClass]="activeClass(rune)" (click)="setPrimarySlots(rune, runeType.slot2, 2)" [src]="rune.img">
							</ng-container>
						</div>
						<div class="rune-selection">
							<ng-container *ngFor="let rune of runeType.slot3; index as i">
								<img class="option medium-rune" [tooltip]="rune.tooltip" [ngClass]="activeClass(rune)" (click)="setPrimarySlots(rune, runeType.slot3, 3)" [src]="rune.img">
							</ng-container>
						</div>
					</ng-container>
				</div>
			</div>
			<div class="stack-selectors flex-center">
				<div class="selector-container pad-around" *ngIf="hasDarkHarvest()">
					<mat-form-field>
						<mat-label>Dark Harvest Soul Count</mat-label>
						<input matInput type="number" [(ngModel)]="soulCount" [min]="0" (change)="setSoulCount()" required>
					</mat-form-field>
				</div>
				<mat-checkbox (change)="setStackAllRunes($event.checked)">Stack All Rune Choices</mat-checkbox>
			</div>
		</div>
		<div class="rune-tree">
			<div class="secondary-tree">
				<div class="rune-path">
					<img class="option large-rune" [hidden]="runePath.active_primary" *ngFor="let runePath of runes; index as i" [tooltip]="runePath.tooltip" [ngClass]="activeClass(runePath, 'secondary')" [src]="runePath.img" [alt]="runePath.img"
							 (click)="chooseSecondaryPath(runePath)" />
				</div>
				<div [hidden]="runePath.active_primary" *ngFor="let runePath of runes; index as i">
					<div [hidden]="selectedRunes.secondaryTree.path != runePath.path_name">
						<ng-container *ngFor="let runeType of runePath.runes">
							<div class="rune-selection">
								<ng-container *ngFor="let rune of runeType.slot1; index as i">
									<img class="option small-rune" [tooltip]="rune.tooltip" [ngClass]="activeClass(rune)" (click)="setSecondarySlots(rune, runePath.path_name)" [src]="rune.img">
								</ng-container>
							</div>
							<div class="rune-selection">
								<ng-container *ngFor="let rune of runeType.slot2; index as i">
									<img class="option small-rune" [tooltip]="rune.tooltip" [ngClass]="activeClass(rune)" (click)="setSecondarySlots(rune, runePath.path_name)" [src]="rune.img">
								</ng-container>
							</div>
							<div class="rune-selection">
								<ng-container *ngFor="let rune of runeType.slot3; index as i">
									<img class="option small-rune" [tooltip]="rune.tooltip" [ngClass]="activeClass(rune)" (click)="setSecondarySlots(rune, runePath.path_name)" [src]="rune.img">
								</ng-container>
							</div>
						</ng-container>
					</div>
				</div>
			</div>
			<div class="rune-shards">
				<div class="rune-selection">
					<ng-container *ngFor="let runeShard of runeShardSet1; index as i">
						<img class="option rune-shard" [ngClass]="activeClass(runeShard, 'shard')" [src]="runeShard.img" (click)="setRuneShards(runeShard, 0)">
					</ng-container>
				</div>
				<div class="rune-selection">
					<ng-container *ngFor="let runeShard of runeShardSet2; index as i">
						<img class="option rune-shard" [ngClass]="activeClass(runeShard, 'shard')" [src]="runeShard.img" (click)="setRuneShards(runeShard, 1)">
					</ng-container>
				</div>
				<div class="rune-selection">
					<ng-container *ngFor="let runeShard of runeShardSet3; index as i">
						<img class="option rune-shard" [ngClass]="activeClass(runeShard, 'shard')" [src]="runeShard.img" (click)="setRuneShards(runeShard, 2)">
					</ng-container>
				</div>
			</div>
		</div>
	</div>
</div>