img.option {
	border-radius: 50%;
	background-color: var(--background-alt-3);
	cursor:pointer;
}
img.large-rune {
	width: 40px;
	height :40px;
	margin: 3px;
}
img.medium-rune {
	width: 37px;
	height: 37px;
	margin: 3px;
}
img.small-rune {
	width:34px;
	height:34px;
	margin: 6px;
}
img.rune-shard {
	margin:6px;
}
.rune-trees-container {
	display:flex;
	justify-content: space-around;
	/* margin-bottom: 10px; */
	/* background-color: var(--background) */
}
.rune-tree, .rune-shards {
	display:flex;
	flex-direction:column;
	/* align-items:center */
}
.rune-path {
	padding: 15px 0px
}
.rune-path, .rune-selection{
	display:flex;
	justify-content: space-evenly;
}
.secondary-tree {
	height: 230px;
	display:flex;
	flex-direction:column;
	align-items:center;
}
.stack-selectors {
	height:100%;
	flex-direction: column;
}