<div class="about-container">
	<div class="flex-display flex-column">
		<div class="question">
			<input type="checkbox" id="toggle-1" />
			<label for="toggle-1">
				<div class="title">Why use League Theory Crafter?</div>
				<mat-icon fontSet="material-icons-round" class="mat-arrow" aria-hidden="false" aria-label="Why use League Theory Crafter?">keyboard_arrow_down
				</mat-icon>
			</label>
			<div class="menu">
				<span #getHeight>
					When you want to change a Champion, their ability level allocations, your rune selection, and many other important factors in League of Legends, you'll need to open the Practice Tool for every separate configuration. That's a lot of
					configurations!
					<br><br>
					League Theory Crafter is a quick and easy way to look at a Champion's approximated damage output based on the many different factors in League of Legends without the long switch times when using the Practice Tool. It provides other
					meaningful calculations, such as the damage distribution, which is important to assess how to deal the most with your unique builds.
					{{ getHeight.offSetHeight}}
				</span>
			</div>
		</div>
		<div class="question">
			<input type="checkbox" id="toggle-2" />
			<label for="toggle-2">
				<div class="title">Wrong calculations?</div>
				<mat-icon fontSet="material-icons-round" class="mat-arrow" aria-hidden="false" aria-label="Calculations are wrong?">keyboard_arrow_down
				</mat-icon>
			</label>
			<div class="menu">
				<span>
					Don't fret! Calculations are not meant to be exact values of what's in-game. There are thousands of combinations of interactions that a champion can undergo, so calculations are an approximation of what a champion can do given the
					circumstances.
					<br><br>
					If the damage calculated is way off, report a bug on the <a routerLink="/contact">contact page</a> and I'll work on updating it.
				</span>
			</div>
		</div>
		<div class="question last">
			<input type="checkbox" id="toggle-3" />
			<label for="toggle-3">
				<div class="title">Have a feature in mind?</div>
				<mat-icon fontSet="material-icons-round" class="mat-arrow" aria-hidden="false" aria-label="What is this?">keyboard_arrow_down
				</mat-icon>
			</label>
			<div class="menu">
				<span>
					To provide an easy-to use interface, there has to be trade-offs in the way sections are designed. When you increase flexibility, complexity increases and intuitiveness tends to decrease.
					<br><br>
					Flexibility and customizability is something that can always be improved on and I'm always looking for ways to do so. I'm open to suggestions from you, the League of Legends community, to make this better. Send me your
					suggestions through the <a routerLink="/contact">contact page</a> and we can work together on putting those suggestions onto the platform.
				</span>
			</div>
		</div>
	</div>
	<div class="about-me">
		<div class="component-header">
			<span>About Anthony "Karizma" Sukadil</span>
		</div>
		<div class="component-body about">
			Hi there! My name is Anthony, and I'm currently a Computer Science student in Ontario. I've been playing League of Legends for over 8 years and I'm a hard-stuck plat Jungle main that abuses Rek'Sai and never plays AP junglers. I've always
			wanted an easy-to-use application that can tell me if this build is viable or better than existing ones.
			<br><br>
			I never found anything that was intuitive, simple, and straight forward. So I started learning a new framework, Angular, and built this application straight from the ground up, consisting of the UI/UX, writing, design structure, data
			collection, and all of the other engineering that makes League Theory Crafter work.
			<br><br>
			Thank you for your generous support and I'll see you on the Rift!
		</div>
	</div>
</div>