.component-body.contact {
	padding:10px;
}
.contact-container {
	max-width: 767px;
}
.selector-container {
	width: 100%;
}
textarea {
	height:124px;
	max-height: 150px;
	min-height:54px;
}
.divider {
	border-top:1px solid rgba(255,255,255,.3)
}
.unsubmitted {
	display:none
}
.submitted {
	display:block;
}
.response-message {
	margin-top: 10px;
}
.orbit-spinner-wrapper {
	position: relative;
	z-index: 9999;
}
.orbit-spinner {
	position: absolute;
	left:0;
	right:0;
	top: 50%;
	transform: translateY(50%);
}