div.item-block {
	width:50px;
	height:50px;
	margin:2px;
}
ul.item-grid {
	padding-inline-start: 20px;
}
img.item-img {
	width:48px;
	height:48px;
	cursor:pointer;
}
mat-form-field.full-width {
	width:100%;
}
div.overflow {
	height:100%;
	overflow-y: auto;
}
.component-body {
	height: -moz-calc(100% - var(--component-header-height));
	height: -webkit-calc(100% - var(--component-header-height));
	height: calc(100% - var(--component-header-height));
}
.item-selector-grid {
	display:grid;
	grid-template-columns: repeat(4,1fr);
	grid-template-rows: var(--selector-grid-height);
	grid-template-areas:
	"orderby-name orderby-mode gamemode-filter search-filter";
}
@media only screen and (max-width: 767px) {
	.item-selector-grid {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows:  repeat(2, 1fr);
		grid-template-areas:
		"orderby-name orderby-mode"
		"gamemode-filter search-filter"
	}
}
.item-selector-filter {
	padding:4px
}
#item-list {
	max-height:650px;
}
#item-grid-orderby-name {
	grid-area: orderby-name;
}
#item-grid-orderby-mode {
	grid-area: orderby-name;
}
#item-grid-gamemode-filter {
	grid-area: gamemode-filter;
}
#item-grid-search-filter {
	grid-area: search-filter;
}
.flex-wrapper {
	display:flex;
	flex-direction: column;
	overflow:hidden;
	height:100%;
}