div.item-block {
	width:50px;
	height:50px;
	margin:2px;
}
ul.item-grid {
	padding-inline-start: 20px;
}
img {
	width:48px;
	height:48px;
}
mat-form-field.full-width {
	width:100%;
}
div.overflow {
	height:100%;
	overflow-y: auto;
}