div.rank-title {
	padding: 0 10px;
	user-select: none;
}
div.item-block {
	width:46px;
	height:46px;
	margin:1.5px;
}
ul.item-grid {
	padding-inline-start: 20px;
}
img.item-img {
	width:44px;
	height:44px;
	cursor:pointer;
}
mat-form-field.full-width {
	width:100%;
}
div.overflow {
	height:100%;
	overflow-y: auto;
}
.component-body {
	height: -moz-calc(100% - var(--component-header-height));
	height: -webkit-calc(100% - var(--component-header-height));
	height: calc(100% - var(--component-header-height));
}
.item-selector-grid {
	display:grid;
	grid-template-columns: repeat(2,1fr) 40px;
	grid-template-rows: var(--selector-grid-height);
	grid-template-areas:
	"search-type search-field swap-item-order";
}
#item-list {
	max-height:650px;
}
@media only screen and (max-width: 767px) {
	/* .item-selector-grid {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows:  repeat(2, 1fr);
		grid-template-areas:
		"orderby-name search-type"
		"search-field search-field"
	} */
	#item-list {
		max-height:470px;
	}
}
@media (min-width: 1200px) {
	#item-list {
		max-height: 540px;
	}
}
#orderby-name {
	grid-area: orderby-name;
}
#orderby-mode {
	grid-area: orderby-mode;
}
#search-type {
	grid-area: search-type;
}
#search-field {
	grid-area: search-field;
}
#swap-item-order {
	grid-area: swap-item-order;
	user-select: none;
}
.swap-item-order-icon {
	font-size: 28px;
	width:30px;
	height:30px;
}
.flex-wrapper {
	display:flex;
	flex-direction: column;
	overflow:hidden;
	height:100%;
}