<div class="component-header-grid">
	<div class="component-header">
		<span class="component-title" id="component-title">Item Selection</span>
	</div>
	<div class="runes-epic-tab inactive-tab">
		<img class="tab-icon" src="assets/images/icons/tabs/runes_drake_icon.png" alt="Runes and Buffs" (click)="switchToRunesPage()" />
	</div>
	<div class="item-selector-tab">
		<img class="tab-icon" src="assets/images/icons/tabs/items_small_icon.png" alt="Item Selector" />
	</div>
</div>
<div class="component-body">
	<div class="item-selector-grid pad-around">
		<div id="item-grid-orderby-sort" class="selector-container">
			<ng-select [items]="ordersBy" bindLabel="orderByLabel" bindValue="orderByValue" [clearable]="false" placeholder="Sort items" [(ngModel)]="orderBy">
			</ng-select>
		</div>
		<div id="item-grid-orderby-sort" class="selector-container">
			<ng-select [items]="orderModes" bindLabel="orderModeLabel" bindValue="orderModeValue" [clearable]="false" placeholder="Sort items in" [(ngModel)]="orderMode">
			</ng-select>
		</div>
		<div id="item-grid-gamemode-filter" class="selector-container">
			<ng-select [items]="gamemodes" bindLabel="gamemodeLabel" bindValue="gamemodeValue" [clearable]="false" placeholder="Filter by Gamemodes" [(ngModel)]="searchMode">
			</ng-select>
		</div>
		<div id="item-grid-search-filter" class="selector-container">
			<mat-form-field class="full-width">
				<mat-label>Search Items</mat-label>
				<input matInput type="text" [(ngModel)]="searchText" placeholder="eg. support, ornn.." id="item-grid-filter-search-field">
				<button mat-button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="searchText=''">
					<mat-icon>close</mat-icon>
				</button>
			</mat-form-field>
		</div>
	</div>
	<div class="flex-wrapper" id="item-list">
		<div class="overflow" *ngIf="items$ | async as items else loading">
			<ul class="item-grid">
				<li class="item" *ngFor="let item of items | itemFilter: champion : searchText : searchMode : orderBy : orderMode" (click)="addItem(item)">
					<div class="item-block">
						<!-- <ng-container *ngIf="isVisible(item) else noTooltip"> -->
						<div class="bg-black" [ngClass]="isVisibleClass(item)">
							<img class="item-img" [src]="item.img" draggable="false" [tooltip]="item.tooltip" tooltip-class="item-tooltips" />
						</div>
						<!-- </ng-container> -->
						<ng-template #noTooltip>
							<div class="bg-black" [ngClass]="isVisibleClass(item)">
								<img class="item-img" [src]="item.img" draggable="false" />
							</div>
						</ng-template>
					</div>
				</li>
			</ul>
		</div>
		<ng-template #loading>
			<div class="orbit-spinner center-horizontal">
				<div class="orbit-line"></div>
				<div class="orbit-line"></div>
				<div class="orbit-line"></div>
			</div>
		</ng-template>
	</div>
</div>