<div class="component-header-grid">
	<div class="component-header">
		<span class="component-title" id="component-title">Item Selection</span>
	</div>
	<div class="runes-epic-tab inactive-tab">
		<img class="tab-icon" src="assets/images/icons/tabs/runes_drake_icon.png" alt="Runes and Buffs" (click)="switchToRunesPage()" />
	</div>
	<div class="item-selector-tab">
		<img class="tab-icon" src="assets/images/icons/tabs/items_small_icon.png" alt="Item Selector" />
	</div>
</div>
<div class="component-body">
	<div class="item-selector-grid pad-around">
		<div id="search-type" class="selector-container">
			<ng-select [items]="searchTypes" bindLabel="label" bindValue="value" [clearable]="false" placeholder="Filter by Item Type" [(ngModel)]="searchType">
			</ng-select>
		</div>
		<div id="search-field" class="selector-container">
			<mat-form-field class="full-width">
				<mat-label>Search Items</mat-label>
				<input matInput type="text" [(ngModel)]="searchText" placeholder="eg. support, ornn, lethality..." id="item-grid-filter-search-field">
				<button mat-button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="searchText=''">
					<mat-icon>close</mat-icon>
				</button>
			</mat-form-field>
		</div>
		<div id="swap-item-order" class="center-horizontal center-vertical inactive-option" (click)="reverseOrder()">
			<mat-icon class="swap-item-order-icon" [tooltip]="'Swap Item Order'" aria-hidden="false" aria-label="Swap Item Order">swap_vert</mat-icon>
		</div>
	</div>
	<div class="flex-wrapper" id="item-list">
		<div class="overflow" *ngIf="items$ | async else loading">
			<ng-container *ngFor="let itemSection of allItems ">
				<div class="rank-title">{{itemSection.name}}</div>
				<ul class="item-grid">
					<ng-container *ngFor="let item of itemSection.items | itemFilter: champion : searchText : searchType">
						<li class="item" (click)="addItem(item)">
							<div class="item-block">
								<div class="item-img" [ngClass]="isVisibleClass(item)">
									<img class="item-img" [src]="item.img" draggable="false" [tooltip]="item.tooltip" tooltip-class="item-tooltips" />
								</div>
							</div>
						</li>
					</ng-container>
				</ul>
			</ng-container>
		</div>
		<ng-template #loading>
			<div class="orbit-spinner center-horizontal center-vertical">
				<div class="orbit-line"></div>
				<div class="orbit-line"></div>
				<div class="orbit-line"></div>
			</div>
		</ng-template>
	</div>
</div>