#navbar {
	width:100%;
	/* have a sticky navbar */
	position:fixed;
	background-color:var(--background-alt-3);
	/* box-shadow: 0 2px 2px 0 rgba(255,255,255,0.14), 0 3px 1px -2px rgba(255,255,255,0.12), 0 1px 5px 0 rgba(255,255,255,0.2); */
	border-bottom: 1px solid var(--border-color-grey);
	/* make sure it overlaps the elements (so select inputs cant be opened) */
	z-index:1000;
	line-height:1;
	padding:5px;
}
#navbar label {
	cursor:pointer;
	display:none;
	font-size:32px;
	color:white;
	margin: 3px 0.6em 0 0;
	/* prevent the toggle button from being dragged */
	-khtml-user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	-ms-user-select: none;
}
.patch-number {
	display:inline-block;
	margin-top:13px;
}
.logo-icon {
	margin:0 1em;
}
.menu {
	display:inline-flex;
	float:right;
}
.menu a {
	text-decoration:none;
	color:white;
	padding: 0.8em 0.4em 0.4em 0.4em;
	margin-right:1em;
	/* position:relative; */
}
.active-link::after, .menu a::after {
	content:'';
	display:block;
	width:0;
	transition: ease 0.4s;
	padding-bottom:0.2em;
	/* border-bottom: 3px solid #28c5a3; */
	border-bottom: 3px solid var(--border-color-blue-grey);
}
.active-link::after {
	width: 100% !important;
}
.menu a:hover::after {
	transition: ease 0.3s;
	width:100%;
}
#toggle {
	display:none;
}
@media only screen and (max-width: 575px) {
	#navbar label{
		display:inline-flex;
		float:right;
	}
	.menu {
		display:flex;
		flex-direction: column;
		align-items: flex-end;
		float: none;
		max-height:0px;
		overflow:hidden;
		transition: max-height 0.5s ease;
	}
	#toggle:checked ~ .menu {
		max-height:120px;
    transition:max-height 0.5s ease;
	}
}