<!DOCTYPE html>
<div class="top">
	<ng-select [items]="champions" bindLabel="name" [virtualScroll]="true" [clearable]="false" placeholder="Select a Champion" (change)="updateChampionOnSelect($event)"></ng-select>
	<ng-select [items]="levels" bindLabel="levelLabel" bindValue="levelValue" [clearable]="false" placeholder="Select a level" (change)="setChampionLevel($event)" [readonly]="!levelSelectorEnabled">
	</ng-select>
	<div *ngIf="champion">
		<champion [champion]="champion"></champion>
	</div>
	<item-selector [selectedChampion]="champion"></item-selector>
</div>