<div class="component-header">
	<span>Champion and Level Selector</span>
	<span>Stats and Abilities</span>
</div>
<div class="component-body">
	<div class="champion-grid">
		<div id="selectors" class="pad-around">
			<div class="selector-container">
				<ng-select [items]="basicChampions$ |async " bindLabel="name" [virtualScroll]="true" [clearable]="false" placeholder="Select a Champion" (change)="updateChampion($event)" [(ngModel)]="basicChampion"></ng-select>
			</div>
			<div class="selector-container">
				<ng-select [items]="levels" bindLabel="levelLabel" bindValue="levelValue" [clearable]="false" placeholder="Select a level" (change)="updateLevel()" [(ngModel)]="currentLevel">
				</ng-select>
			</div>
			<div class="selector-container">
				<ng-select [items]="times" bindLabel="timeLabel" bindValue="timeValue" [clearable]="false" placeholder="In-game time" (change)="updateCurrentTime()" [(ngModel)]="currentTime">
				</ng-select>
			</div>
		</div>
		<div id="champion-details" *ngIf="champion; else loading">
			<div id="champion-img" *ngIf="champion.img != ''">
				<img class="champion-portrait" [src]="champion.img" alt="" />
			</div>
			<div id="champion-abilities" class="center-margin">
				<div id="passive" class="flex-center ability">
					<mat-icon *ngIf="championIsAphelios()" [tooltip]="apheliosTooltip()" class="help-icon" aria-hidden="false" aria-label="Help">help</mat-icon>
					<img class="medium-ability" [src]="champion.skill_i.img" [alt]="champion.skill_i[1]" [tooltip]="abilityTooltip('i')" />
				</div>
				<div id="q" class="flex-center ability" [tooltip]="abilityTooltip('q')">
					<div class="ability-leveler">
						<button class="level-ability center-margin" (click)="decreaseSkillLevel('q')" [disabled]="!canLevelDown('q')">
							<mat-icon aria-hidden="false" aria-label="Decrease Ability Level">remove</mat-icon>
						</button>
						<button class="level-ability center-margin" (click)="increaseSkillLevel('q')" [disabled]="!canLevelUp('q')">
							<mat-icon aria-hidden="false" aria-label="Increase Ability Level">add</mat-icon>
						</button>
					</div>
					<img class="medium-ability" [src]="champion.skill_q.img" [alt]="champion.skill_q[1]" />
					<span class="rank">{{champion.skill_q["rank"]}}</span>
				</div>
				<div id="w" class="flex-center ability" [tooltip]="abilityTooltip('w')">
					<div class="ability-leveler">
						<button class="level-ability center-margin" (click)="decreaseSkillLevel('w')" [disabled]="!canLevelDown('w')">
							<mat-icon aria-hidden="false" aria-label="Decrease Ability Level">remove</mat-icon>
						</button>
						<button class="level-ability center-margin" (click)="increaseSkillLevel('w')" [disabled]="!canLevelUp('w')">
							<mat-icon aria-hidden="false" aria-label="Increase Ability Level">add</mat-icon>
						</button>
					</div>
					<img class="medium-ability" [src]="champion.skill_w.img" [alt]="champion.skill_w[1]" />
					<span class="rank">{{champion.skill_w["rank"]}}</span>
				</div>
				<div id="e" class="flex-center ability" [tooltip]="abilityTooltip('e')">
					<div class="ability-leveler">
						<button class="level-ability center-margin" (click)="decreaseSkillLevel('e')" [disabled]="!canLevelDown('e')">
							<mat-icon aria-hidden="false" aria-label="Decrease Ability Level">remove</mat-icon>
						</button>
						<button class="level-ability center-margin" (click)="increaseSkillLevel('e')" [disabled]="!canLevelUp('e')">
							<mat-icon aria-hidden="false" aria-label="Increase Ability Level">add</mat-icon>
						</button>
					</div>
					<img class="medium-ability" [src]="champion.skill_e.img" [alt]="champion.skill_e[1]" />
					<span class="rank">{{champion.skill_e["rank"]}}</span>
				</div>
				<div id="r" class="flex-center ability" [tooltip]="abilityTooltip('r')">
					<div class="ability-leveler">
						<button class="level-ability center-margin" (click)="decreaseSkillLevel('r')" [disabled]="!canLevelDown('r')">
							<mat-icon aria-hidden="false" aria-label="Decrease Ability Level">remove</mat-icon>
						</button>
						<button class="level-ability center-margin" (click)="increaseSkillLevel('r')" [disabled]="!canLevelUp('r')">
							<mat-icon aria-hidden="false" aria-label="Increase Ability Level">add</mat-icon>
						</button>
					</div>
					<img class="medium-ability" [src]="champion.skill_r.img" [alt]="champion.skill_r[1]" />
					<span class="rank">{{champion.skill_r["rank"]}}</span>
				</div>
				<div id="hp-mp" class="center-margin">
					<div class="flex-center hp" [tooltip]="resourceTooltip('hp')">
						{{ champion.stats.hp | number: "1.0-2" }} hp
					</div>
					<div class="flex-center mp" [tooltip]="resourceTooltip('mp')">
						{{ champion.stats.mp | number: "1.0-2" }} mp
					</div>
				</div>
			</div>
			<div id="champion-stats" class="center-margin">
				<div id="ad" [tooltip]="statTooltip('ad')">
					<img class="stat" src="assets/images/icons/ad_icon.png" alt="Attack Damage" />
					{{ champion.stats.ad | number: "1.0-0" }}
				</div>
				<div id="ap" [tooltip]="statTooltip('ap')">
					<img class="stat" src="assets/images/icons/ap_icon.png" alt="Ability Power" />
					{{ champion.stats.ap | number: "1.0-0" }}
				</div>
				<div id="ls" [tooltip]="statTooltip('ls')">
					<img class="stat" src="assets/images/icons/ls_icon.png" alt="Lifesteal" />
					{{ champion.stats.ls | number: "1.0-0" }}%
				</div>
				<div id="spell_vamp" [tooltip]="statTooltip('spell_vamp')">
					<img class="stat" src="assets/images/icons/spell_vamp_icon.png" alt="Spell Vamp" />
					{{ champion.stats.spell_vamp | number: "1.0-0" }}%
				</div>
				<div id="arm" [tooltip]="statTooltip('arm')">
					<img class="stat" src="assets/images/icons/arm_icon.png" alt="Armour" />
					{{ champion.stats.arm | number: "1.0-0" }}
				</div>
				<div id="mr" [tooltip]="statTooltip('mr')">
					<img class="stat" src="assets/images/icons/mr_icon.png" alt="Magic Resistance" />
					{{ champion.stats.mr | number: "1.0-0" }}
				</div>
				<div id="apen" [tooltip]="statTooltip('apen')">
					<img class="stat" src="assets/images/icons/apen_icon.png" alt="Lethality|Armor Penetration %" />
					{{ champion.stats.leth | number: "1.0-0" }}|{{
						champion.stats["apen%"] | number: "1.0-0"
					}}%
				</div>
				<div id="mpen" [tooltip]="statTooltip('mpen')">
					<img class="stat" src="assets/images/icons/mpen_icon.png" alt="Magic Penetration | Magic Penetration %" />
					{{ champion.stats.mpen | number: "1.0-0" }}|{{
						champion.stats["mpen%"] | number: "1.0-0"
					}}%
				</div>
				<div id="as" [tooltip]="statTooltip('as')">
					<img class="stat" src="assets/images/icons/as_icon.png" alt="Attack Speed" />
					{{ champion.stats.as | number: "1.0-2" }}
				</div>
				<div id="cdr" [tooltip]="statTooltip('cdr')">
					<img class="stat" src="assets/images/icons/cdr_icon.png" alt="Cooldown Reduction" />
					{{ champion.stats.cdr | number: "1.0-2" }}%
				</div>
				<div id="range" [tooltip]="statTooltip('range')">
					<img class="stat" src="assets/images/icons/range_icon.png" alt="Range" />
					{{ champion.stats.range | number: "1.0-0" }}
				</div>
				<div id="critdmg" [tooltip]="statTooltip('critdmg')">
					<img class="stat" src="assets/images/icons/critdmg_icon.png" alt="Critical Damage Bonus" />
					{{ champion.stats.critdmg | number: "1.0-0" }}%
				</div>
				<div id="crit" [tooltip]="statTooltip('crit')">
					<img class="stat" src="assets/images/icons/crit_icon.png" alt="Critical Hit Chance" />
					{{ champion.stats.crit | number: "1.0-0" }}%
				</div>
				<div id="ms" [tooltip]="statTooltip('ms')">
					<img class="stat" src="assets/images/icons/ms_icon.png" alt="Movement Speed" />
					{{ champion.stats.ms | number: "1.0-0" }}
				</div>
				<div id="tenacity" [tooltip]="statTooltip('tenacity')">
					<img class="stat" src="assets/images/icons/tenacity_icon.png" alt="Tenacity" />
					{{ champion.stats.tenacity | number: "1.0-0" }}%
				</div>
				<div id="heal_shield" [tooltip]="statTooltip('heal_shield')">
					<img src="assets/images/icons/healing_icon.png" alt="Healing" />
					<img class="stat" src="assets/images/icons/heal_shield_icon.png" alt="Shielding" />
					{{ champion.stats.heal_shield | number: "1.0-0" }}%
				</div>
			</div>
		</div>
		<ng-template #loading>
			<div class="orbit-spinner center-spinner">
				<div class="orbit-line"></div>
				<div class="orbit-line"></div>
				<div class="orbit-line"></div>
			</div>
		</ng-template>
	</div>
</div>