div.item-block {
	width:52px;
	height:52px;
	margin:2px;
	background-color: var(--background-alt-3);
	border:1px solid rgb(255,250, 250);
}

mat-icon.remove-item {
	opacity: 0;
	transition: ease 0.3s;
	position: absolute;
	width: 50px !important;
	height: 50px !important;
	font-size: 30px;
	color: white;
	background-color: rgba(5,5,5,0.7);
	cursor:pointer;
}
mat-icon.remove-item:hover {
	opacity: 1;
	transition: ease 0.3s;
}
img {
	width:50px;
	height:50px;
}
ul.item-grid {
	padding-inline-start: 0px;
	margin-bottom:0px;
}
.selected-items-grid {
	display:grid;
	height:auto;
	max-width:240px;
	margin:auto;
	padding:5px 0px;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: repeat(2,1fr);
	grid-template-areas:
	"selected-items elixir"
	"selected-items clear-selected-items";
}
#selected-items {
	grid-area: selected-items;
	margin:auto;
	text-align: center;
}
#elixir {
	grid-area:elixir;
	margin:auto;
    text-align: center;
}
#clear-selected-items {
	grid-area: clear-selected-items;
	margin:auto;
    text-align: center;
}
#stackables {
	grid-area: stackables;
	display:flex;
	flex-direction: column;
}
#selected-items .equipped-items-grid {
	display:grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: repeat(2,1fr);
	grid-template-areas:
	"slot1 slot2 slot3"
	"slot4 slot5 slot6";

}