<div class="component-header">
	<span>Target Info</span>
</div>
<div class="component-body">
	<div class="calculations-grid">
		<div id="calculation-selectors" class="pad-around">
			<div class="selector-container">
				<mat-checkbox (change)="itemSteroidsChange($event.checked)">Item Steroids</mat-checkbox>
			</div>
			<div class="selector-container">
				<mat-checkbox (change)="abilitySteroidsChange($event.checked)">Ability Steroids</mat-checkbox>
			</div>
			<div class="selector-container">
				<mat-checkbox (change)="formUsageChange($event.checked)">Include Form</mat-checkbox>
			</div>
		</div>
		<div id="target-selectors">
			<div class="target-selectors-grid pad-around">
				<div id="target-level" class="selector-container">
					<ng-select [items]="levels" bindLabel="levelLabel" bindValue="levelValue" [clearable]="false" placeholder="Target Level" (change)="updateDetails()" [(ngModel)]="targetLevel">
					</ng-select>
				</div>
				<div id="target-max-hp" class="selector-container">
					<mat-form-field>
						<mat-label>Target Max HP</mat-label>
						<input matInput type="number" [(ngModel)]="targetMaxHP" [min]="minTargetMaxHP" (change)="updateMaxHP()" required>
					</mat-form-field>
				</div>
				<div id="target-armor" class="selector-container">
					<mat-form-field>
						<mat-label>Target Armor</mat-label>
						<input matInput type="number" [(ngModel)]="targetArmor" [min]="targetMin" (change)="updateDetails()" required>
					</mat-form-field>
				</div>
				<div id="target-mr" class="selector-container">
					<mat-form-field>
						<mat-label>Target MR</mat-label>
						<input matInput type="number" [(ngModel)]="targetMR" [min]="targetMin" (change)="updateDetails()" required>
					</mat-form-field>
				</div>
			</div>
			<div class="target-hp-slider selector-container">
				<ng5-slider [(value)]="targetCurrentHP" [options]="targetHPOptions" [manualRefresh]="manualRefresh"></ng5-slider>
			</div>
		</div>
		<div id="calculations" class="inner-component">
			<div class="component-header inner-component-header">
				<span>Calculations</span>
				<span>
					<mat-icon class="info" [tooltip]="calculationTooltip()" aria-hidden="false" aria-label="How is damage calculated?" tooltip-class="expanded-tooltips">info</mat-icon>
				</span>
			</div>
			<div class="component-body">
				<div class="main-results-grid" *ngIf="champion else loading">
					<div id="dps">
						Gold Efficiency and Total DPS
						<div class="results-grid-2 common">
							<div id="gold-efficiency">
								<img class="distribution" src="assets/images/icons/stats/gold_icon.png" alt="Gold Efficiency (%)" />
								{{ "123%" }}
							</div>
							<div id="total-dps">
								<img class="distribution" src="assets/images/icons/stats/physical_damage_icon.png" alt="Total Physical Damage After Resistances" />
								<img class="distribution" src="assets/images/icons/stats/magic_damage_icon.png" alt="Total Magic Damage Before Resistances" />
								<img class="distribution" src="assets/images/icons/stats/true_damage_icon.png" alt="Total True Damage" />
								{{ totalDPSBeforeResistances() | number:'1.0-2' }}
							</div>
						</div>
					</div>
					<div id="dbr">
						Damage Before Resistances
						<div class="results-grid-3 damage-before">
							<div id="physical-damage-before" [tooltip]="damageBeforeResistancesTooltip(PHYSICAL_DAMAGE)">
								<img class="distribution" src="assets/images/icons/stats/physical_damage_icon.png" alt="Total Physical Damage Before Resistances" />
								{{ damageBeforeResistances(PHYSICAL_DAMAGE) | floor}}
							</div>
							<div id="magic-damage-before" [tooltip]="damageBeforeResistancesTooltip(MAGIC_DAMAGE)">
								<img class="distribution" src="assets/images/icons/stats/magic_damage_icon.png" alt="Total Magic Damage Before Resistances" />
								{{ damageBeforeResistances(MAGIC_DAMAGE) | floor }}
							</div>
							<div id="true-damage" [tooltip]="damageBeforeResistancesTooltip(TRUE_DAMAGE)">
								<img class="distribution" src="assets/images/icons/stats/true_damage_icon.png" alt="Total True Damage" />
								{{ damageBeforeResistances(TRUE_DAMAGE) | floor }}
							</div>
						</div>
					</div>
					<div id="dar">
						Damage After Resistances
						<div class="results-grid-3 damage-after">
							<div id="physical-damage-after" [tooltip]="damageAfterResistancesTooltip(PHYSICAL_DAMAGE, targetArmor)">
								<img class="distribution" src="assets/images/icons/stats/physical_damage_icon.png" alt="Total Physical Damage After Resistances" />
								{{ damageAfterResistances(PHYSICAL_DAMAGE, targetArmor ) | floor }}
							</div>
							<div id="magic-damage-after" [tooltip]="damageAfterResistancesTooltip(MAGIC_DAMAGE, targetMR)">
								<img class="distribution" src="assets/images/icons/stats/magic_damage_icon.png" alt="Total Magic Damage After Resistances" />
								{{ damageAfterResistances(MAGIC_DAMAGE, targetMR ) | floor}}
							</div>
							<div id="true-damage" [tooltip]="damageBeforeResistancesTooltip(TRUE_DAMAGE)">
								<img class="distribution" src="assets/images/icons/stats/true_damage_icon.png" alt="Total True Damage" />
								{{ damageBeforeResistances(TRUE_DAMAGE) | floor }}
							</div>
						</div>
					</div>
					<div id="dr">
						Damage Reduction
						<div class="results-grid-2 damage-reduction">
							<div id="physical-damage-reduction">
								<img src="assets/images/icons/stats/arm_icon.png" alt="Total Physical Damage Reduced" />
								{{ (damageReduction(PHYSICAL_DAMAGE) | floor) + "%" }}
							</div>
							<div id="magic-damage-reduction">
								<img src="assets/images/icons/stats/mr_icon.png" alt="Total Magic Damage Reduced" />
								{{ (damageReduction(MAGIC_DAMAGE) | floor)  + "%"}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<ng-template #loading>
	<div class="orbit-spinner center-spinner">
		<div class="orbit-line"></div>
		<div class="orbit-line"></div>
		<div class="orbit-line"></div>
	</div>
</ng-template>