/* You can add global styles to this file, and also import other style files */
/* @import "~@ng-select/ng-select/themes/material.theme.css"; */
:root {
	--main-radius: 5px;
	--main-padding: 10px;
	--background-main: #070720;
	--background: #222238;
	--background-2: #0b0b23;
	--background-alt: #17172e;
	--background-alt-2: #222238;
	--background-alt-3: #17172e;
	--component-header-height : 54px; 
	--component-header-height : 70px; 
	/* this is the height of the rune img on the switcher. otherwise it's 52px */
}
/* Grid layouts and configs/Component configs */
.component-header {
	display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 48px;
    height: 48px;
    margin-bottom: 6px;
    padding: 0 24px;
	background-color: var(--background-alt);
	width:100%;
}
.component-header-grid {
	display:grid;
	height: 48px;
    margin-bottom: 6px;
	grid-template-columns: auto 48px 48px;
	grid-template-rows: 1fr;
	grid-template-areas: 
	"component-title rune-tab inventory-tab";
	grid-gap:10px;
	/* You can switch the order of the tab switcher in the grid template area and columns */
}
span.component-title#component-title {
	grid-area: component-title;
	background-color: var(--background-alt);
}
.rune-tab {
	grid-area: rune-tab;
	background-color: var(--background);
}
.inactive-tab {
	height:48px;
}
.inventory-tab {
	grid-area: inventory-tab;
	background-color: var(--background);
	/* background-color: var(--background-alt); */
	
	/* You can comment the height out to connect the tab switcher img to the component-body */
}
.component-body {
	width:100%;
	background-color:var(--background);
	display:flex;
	flex-direction: column;
	/* height:100%; */
}

.pad-top {
	padding-top:10px;
}
.container-grid-league {
	display: grid;
	height: 100vh;
	grid-template-columns: 2fr 0.7fr;
	grid-template-rows: 0.2fr 0.3fr 0.5fr 2fr;
	grid-template-areas:
	"navbar navbar"
	"champion champion"
	"item-selector-rune-selector inventory"
	"item-selector-rune-selector damage-calc";
	grid-gap: 10px;
	background-color: var(--background-main);
}

#champion {
	grid-area: champion;
}
#navbar {
	grid-area: navbar;
}
#item-selector-rune-selector {
	grid-area: item-selector-rune-selector;
}
#inventory {
	grid-area: inventory;
	display:flex;
	align-items: center;
	flex-direction: column;
}
#inventory .component-body {
	height:100%;
}
#damage-calc {
	grid-area: damage-calc;
}
@media only screen and (max-width: 767px) {
	.container-grid-league {
	grid-template-columns: auto;
	grid-template-rows: 0.3fr 0.2fr 1.2fr 0.4fr;
	grid-template-areas:
	"navbar"
	"champion"
	"inventory"
	"item-selector-rune-selector"
	"damage-calc"
	}
}
/* Body changes */
html, body { 
	height: 100%;
	/* background-color: var(--background-main); */
	background-color: var(--background-main);
	color:white !important;
	
}
/* Material Changes */
mat-label, input {
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important
}
mat-form-field {
	line-height: 1.5 !important;
}
button:focus, :focus {
	outline:none;
}

/* Bootstrap additions/changes */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.row {
	margin-left:0px;
	margin-right:0px;
}
.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

/* Inventory and Item Selector Components */
li.item {
	display:inline-block
}
.bg-black {
	background-color:#000;
}
div.item-block {
	border:1px solid rgb(255,250, 250);
	display:inline-block;
	vertical-align: middle;
	text-align:center;
	color:white;
	user-select: none;
}
