/* You can add global styles to this file, and also import other style files */
/* @import "~@ng-select/ng-select/themes/material.theme.css"; */
:root {
	--main-radius: 5px;
	--main-padding: 10px;
	--background-main: #070720;
	--background: #222238;
	--background-2: #0b0b23;
	--background-alt: #17172e;
	--background-alt-2: #222238;
	--background-alt-3: #17172e;
	--border-color-grey: #2c2c40;
	--border-color-light-grey: #4f4f60;
	--border-color-blue-grey :rgb(66, 104, 146);
	--light-yellow :rgb(225, 205, 146);
	--dark-amber: rgb(154, 123, 67);
	--off-white: #e0e0e0;
	--grey: #bdbdbd;
	--dark-grey: #616161;
	--medium-blue-grey: #546e7a;
	--champion-img-height: 120px;
	--component-header-height : 44px;
	--selector-grid-height: 64px;
	/* --component-header-height : 70px;  */
	/* this is the height of the rune img on the switcher. otherwise it's 52px */
}
/* --------------------------Body changes-------------------------- */
html, body {
	height: 100%;
	/* background-color: var(--background-main); */
	background-color: var(--background-main);
	/* background: linear-gradient(180deg, var(--background-main),#292e49); */
	color:white !important;
	font-family: 'Oxygen', sans-serif;
	/* overflow-x: hidden; */
}
img {
	-khtml-user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	-ms-user-select: none;
	/* user-drag: none;  */
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media (max-width: 476px) {
	body {
		font-size: 14px;
	}
}
/* --------------------------End Body changes-------------------------- */
/* --------------------------Material Changes-------------------------- */
mat-label, input, .mat-checkbox-label {
	font-family: 'Oxygen', sans-serif !important;
}
mat-form-field {
	line-height: 1.5 !important;
	width: 100%;
	/* max-width:180px; */
}
@media (max-width: 476px) {
	mat-form-field {
		line-height: 2 !important
	}
}
.mat-form-field-subscript-wrapper {
	margin-top: 2px !important;
}
.mat-form-field-infix {
	width: auto !important;
}
.mat-icon.leveler-icon, .mat-icon.info-icon {
	height: 20px !important;
	width: 20px !important;
	font-size: 20px;
	/* vertical-align: text-top; */
}
@media(min-width: 768px) {
	.mat-icon.leveler-icon, .mat-icon.info-icon {
		height: 18px !important;
		width: 18px !important;
		font-size: 18px;
	}
}
@media (min-width: 880px) {
	.mat-icon.leveler-icon, .mat-icon.info-icon {
		height: 20px !important;
		width: 20px !important;
		font-size: 20px;
	}
}
@media (min-width: 1200px) {
	.mat-icon.leveler-icon, .mat-icon.info-icon {
		height: 24px !important;
		width: 24px !important;
		font-size: 24px;
	}
}
button:focus, :focus {
	outline:none;
}
.center-spinner {
	margin:auto;
}
.center-margin {
	margin-top: auto;
	margin-bottom: auto;
}
/* --------------------------End Material Changes-------------------------- */
/* --------------------------Global Component Definitions-------------------------- */
.core.container{
	padding: 65px 0px 15px 0px;
}
li.item {
	display:inline-block
}
.bg-black {
	background-color:#000;
}
div.item-block {
	display:flex;
	align-items:center;
	text-align:center;
	color:white;
	border:1px solid var(--background);
	user-select: none;
	transition: border-color 0.3s ease;
}
div.item-block:hover {
	border-color: rgb(255, 255, 250);
	transition: border-color 0.3s ease;
}
.flex-display {
	display:flex ;
}
.flex-column {
	flex-direction: column;
}
.app-main {
	height: 100%;
}
.flex-center {
	display:flex !important;
	justify-content: center;
	align-items: center;
}
.selector-container {
	padding:0px 5px
}
.pad-around {
	padding: 5px 5px 0px 5px
}
.champion-portrait {
	width:108px;
	height:108px;
}
.inactive-tab {
	cursor:pointer;
	height:42px;
	filter: grayscale(100%);
	opacity: .27;
	transition: ease 0.3s;
}
.inactive-tab:hover {
	transition: ease 0.3s;
	filter:none;
	opacity: 1;
}
.inactive-option {
	filter: grayscale(100%);
	opacity: .27;
	transition: ease 0.3s;
}
.inactive-option:hover {
	transition: ease 0.3s;
	filter:none;
	opacity: 1;
}
.active-option {
	/* transition: ease 0.3s; */
	border:1px solid rgba(255, 255, 255, 0.2);
}
img.tab-icon {
	width:42px;
	height:42px;
}
.invisible-item {
	transition: ease 0.15s;
	opacity :0.27
}
.visible-item {
	transition: ease 0.15s;
	opacity: 1
}
.component-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 0 0 42px;
	height: 42px;
	margin-bottom: 6px;
	padding: 0 10px;
	background-color: var(--background-alt);
	border: 1px solid var(--border-color-grey);
	width:100%;
}
.component-header-grid {
	display:grid;
	height: 42px;
	margin-bottom: 6px;
	grid-template-columns: auto 42px 42px;
	grid-template-rows: 1fr;
	grid-template-areas:
	"component-title runes-epic-tab item-selector-tab";
	grid-gap:10px;
	/* You can switch the order of the tab switcher in the grid template area and columns */
}
span.component-title#component-title {
	grid-area: component-title;
	background-color: var(--background-alt);
}
.component-body {
	width:100%;
	background-color:var(--background);
	display:flex;
	flex-direction: column;
}
.inner-component-header {
	/* if you want multiple components in one, put this in the line as the component header */
	margin-top:10px;
}
.inner-component {
	/* if you want multiple components in one, put this in the parent of the inner component header */
	background-color: var(--background-main)
}
/* --------------------------End Global Component Definitions-------------------------- */
/* --------------------------Grid Container Definitions-------------------------- */
.container-grid-league {
	display: grid;
	/* height: 100vh; */
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 0.3fr 0.5fr auto;
	grid-template-areas:
	"champion champion"
	"item-rune-epic-selector inventory"
	"item-rune-epic-selector damage-calc";
	grid-gap: 10px;
	/* background-color: var(--background-main); */
}
@media only screen and (max-width: 767px) {
	.container-grid-league {
		height:auto;
		grid-template-columns: auto;
		grid-template-rows: 0.3fr 0.4fr 0.2fr auto;
		grid-template-areas:
		"champion"
		"damage-calc"
		"inventory"
		"item-rune-epic-selector"
	}
	.champion-portrait {
		width:120px;
		height:120px;
	}
	:root {
		--champion-img-height: 130px;
	}
}
#champion {
	grid-area: champion;
}
/* #navbar {
	grid-area: navbar;
} */
#item-rune-epic-selector {
	grid-area: item-rune-epic-selector;
}
#inventory {
	grid-area: inventory;
	display:flex;
	align-items: center;
	flex-direction: column;
}
#inventory .component-body {
	border: 1px solid var(--border-color-grey);
	height:100%;
}
#damage-calc {
	grid-area: damage-calc;
}
.epic-monsters-tab {
	grid-area: epic-monsters-tab;
	background-color: var(--background);
}
.runes-epic-tab {
	grid-area: runes-epic-tab;
	background-color: var(--background);
}
.item-selector-tab {
	grid-area: item-selector-tab;
	background-color: var(--background);
	/* background-color: var(--background-alt); */
	/* You can comment the height out to connect the tab switcher img to the component-body */
}
/* --------------------------End Grid Container Definitions-------------------------- */
/* --------------------------Tooltips-------------------------- */
.tooltip {
	background-color: var(--background-alt) !important;
	text-align:left !important;
	padding: 8px !important;
	border: 1px solid var(--border-color-light-grey);
	font-size: 14px;
	line-height: 1.1;
}
.item-tooltips {
	text-align:left !important;
}
.expanded-tooltips {
	max-width: 380px !important;
}
/* Kudos for tooltip border styling https://codepen.io/valerie-roske/pen/XmXPbB?editors=0110 */
.tooltip:before {
	border-style: solid;
	content: "";
	position: absolute;
	border-width: 5px;
}
.tooltip-top:before {
	border-color: var(--border-color-light-grey) transparent transparent !important;
  top: 100%;
  left: 50%;
	margin-left: -5px;
	margin-top:1px;
}
.tooltip-right:before {
	border-color: transparent var(--border-color-light-grey) transparent transparent !important;
	right: 100%;
	top: 50%;
	margin-top: -5px;
	margin-right:1px;
}
.tooltip-bottom:before {
	border-color: transparent transparent var(--border-color-light-grey) !important;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	margin-bottom:1px;
}
.tooltip-left:before {
	border-color: transparent transparent transparent var(--border-color-light-grey) !important;
	left:100%;
	top:50%;
	margin-top:-5px;
	margin-left: 1px;
}
.tooltip-top:after {
	border-color: var(--background-alt) transparent transparent !important;
}
.tooltip-right:after {
	border-color: transparent var(--background-alt) transparent transparent!important;
}
.tooltip-bottom:after {
	border-color: transparent transparent var(--background-alt) !important;
}
.tooltip-left:after {
	border-color: transparent transparent transparent var(--background-alt) !important;
}
ul.innate-tooltip, ul.numbered-tooltip {
	/* used in apheliosTooltip in the champion component */
	/* used in calculation tooltips in the calculations component */
	padding-inline-start:20px;
	margin-top: 0.8em;
	margin-bottom: 0;
}
ul.pad-bottom {
	margin-bottom :0.8em;
}
ul.innate-tooltip > li{
	list-style-type: none;
}
ul.numbered-tooltip >li {
	list-style-type: decimal;
}
.info-icon {
	margin: 3px 0;
}
.cd {
	text-align:right;
}
/* --------------------------End Tooltips-------------------------- */
/* --------------------------Scrollbar-------------------------- */
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 5px;
}
::-webkit-scrollbar-thumb {
	background: var(--off-white);
	border-radius: 5px;
}
/* --------------------------End Scrollbar-------------------------- */
/* --------------------------Orbit Spinner-------------------------- */
.orbit-spinner, .orbit-spinner * {
  box-sizing: border-box;
}
.orbit-spinner {
  height: 140px;
  width: 140px;
  border-radius: 50%;
	perspective: 800px;
}
.orbit-spinner.small {
	height: 110px;
  width: 110px;
}
.orbit-spinner.large {
	height: 200px;
  width: 200px;
}
@media only screen and (max-width: 767px) {
	.orbit-spinner {
		margin: 10px auto;
	}
}
.orbit-spinner .orbit-line {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.orbit-line {
	border-color: var(--border-color-blue-grey) !important;
	/* border-color: var(--light-yellow) !important; */
}
.orbit-spinner .orbit-line:nth-child(1) {
  left: 0%;
  top: 0%;
  animation: orbit-spinner-orbit-one-animation 1200ms linear infinite;
  border-bottom: 3px solid;
}
.orbit-spinner .orbit-line:nth-child(2) {
  right: 0%;
  top: 0%;
  animation: orbit-spinner-orbit-two-animation 1200ms linear infinite;
  border-right: 3px solid;
}
.orbit-spinner .orbit-line:nth-child(3) {
  right: 0%;
  bottom: 0%;
  animation: orbit-spinner-orbit-three-animation 1200ms linear infinite;
  border-top: 3px solid ;
}
@keyframes orbit-spinner-orbit-one-animation {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@keyframes orbit-spinner-orbit-two-animation {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@keyframes orbit-spinner-orbit-three-animation {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
/* --------------------------End Orbit Spinner-------------------------- */