<footer>
	<div class="container">
		<span>League Theory Crafter isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or
			registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
		</span>
		<br>
		<span *ngIf="credit">
			Big thanks to the <a href="https://leagueoflegends.fandom.com/wiki/League_of_Legends_Wiki">League of Legends Wiki</a> and the team at<a href="https://github.com/meraki-analytics">Meraki Analytics</a> for providing free and available
			data, and Crixaliz for inspiration.
		</span>
	</div>
</footer>