<footer>
	<div class="container">
		<div class="footer-name">
			2020 © Vorpal56
		</div>
		<div class="footer-links">
			<a class="footer-link" href="https://github.com/vorpal56" target="_blank"><img class="footer-img" src="assets/images/icons/common/github.png" /></a>
			<a class="footer-link" href="https://www.facebook.com/anthony.sukadil" target="_blank"><img class="footer-img" src="assets/images/icons/common/facebook.png" /></a>
			<a class="footer-link linkedin" href="https://www.linkedin.com/in/anthony-sukadil-b27787152/" target="_blank"><img class="footer-img linkedin" src="assets/images/icons/common/linkedin.png" /></a>
			<a class="footer-link" href="https://www.instagram.com/anthonysukadil/?hl=en" target="_blank"><img class="footer-img" src="assets/images/icons/common/ig.svg" /></a>
		</div>
		<div class="credits">
			<span>League Theory Crafter isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or
				registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
			</span>
		</div>
		<div class="credits-last" *ngIf="credit">
			<span>
				Big thanks Crixaliz for inspiration, the <a href="https://leagueoflegends.fandom.com/wiki/League_of_Legends_Wiki">League of Legends Wiki</a> and the team at <a href="https://github.com/meraki-analytics">Meraki Analytics</a> for providing free
				and available
				data used in this application.
			</span>
		</div>
	</div>
</footer>